$border: #CBCBCB;
$bg: #F7F8F9;
$paragraph: #919191;
$heading: #1D2226;
$label: #6C25FF;
$loginBtn: #6C25FF4B;
$btnText: #FFFFFF;

@mixin container {
    background-color: $bg;
    max-width: 375px;
    height: 812px;
    border: 1px solid $border;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik;
}

.anchor {
    text-decoration: none
}

.d-none {
    display: none
}

.landing_container {
    @include container;
    padding: 549px 20px 41px;

    .wlcm_heading {
        text-align: left;
        font-size: 28px;
        height: 33px;
        line-height: 1;
        margin-bottom: 10px;
        font-weight: 500;
        color: $heading;
    }

    .greet_text {
        max-width: 232px;
        height: 48px;
        font-size: 18px;
        color: $paragraph;
        margin-bottom: 29px;
        text-align: left;
        overflow: hidden;
        font-weight: 400;
        line-height: 26px;
        opacity: 60%;
    }

    .create_acc_btn {
        margin-bottom: 10px;
    }
}

.btn {
    background-color: $label;
    border-radius: 6px;
    max-width: 335px;
    height: 46px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.create_acc {
    background-color: $label;
    color: $btnText ;
}

.login {
    background-color: $loginBtn;
    color: $heading;
}

.btn button {
    height: 19px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
}

.disable {
    background-color: $border;
    color: $btnText;
}

.d-block {
    display: block
}

.d-grid {
    display: grid;
    align-content: space-between;
}

.req_mark {
    color: #DD4A3D;
}

.form_container {
    @include container;
    padding: 40px 20px 30px;

    .form_control {
        .form_heading {
            max-width: 188px;
            height: 69px;
            font-size: 28px;
            text-align: left;
            color: #1D2226;
            line-height: 36px;
            font-weight: 500;
        }

        .signin_text {
            max-width: 232px;
            height: 48px;
            font-size: 18px;
            color: $paragraph;
            margin-top: 14px;
            text-align: left;
            overflow: hidden;
            font-weight: 400;
            line-height: 26px;
            opacity: 60%;
        }

        .agency_check {
            max-width: 132px;
            height: 47px;
            font-size: 13px;
            display: grid;
            align-content: space-between;

            .radios {
                display: flex;
                justify-content: space-between;

                .checks {
                    display: flex;
                    align-items: center;

                    label {
                        font-size: 14px;
                        margin-left: 12px;
                    }

                    input[type=radio] {
                        height: 22px;
                        width: 22px;
                    }
                }
            }
        }

    }
}

form {
    margin-top: 24px;
}

.input_fields {
    margin-bottom: 20px;
}

.inpt_control {
    max-width: 335px;
    height: 49px;
    position: relative;
    padding-top: 9px;

    label {
        background-color: #F7F8F9;
        font-size: 13px;
        color: #6C25FF;
        position: absolute;
        top: 0;
        left: 9px;
        text-align: left;
        padding: 0 5px;
        text-transform: capitalize;
        line-height: 17px;
    }

    input {
        width: 100%;
        border: 1px solid $border;
        border-radius: 6px;
        padding: 17px 10px 15px 12px;
        background-color: transparent;
        height: 40px;
        outline-color: $border;
    }
}

.account_container {
    @include container;

    .page_heading {
        height: 68px;
        text-align: left;
        line-height: 21px;
        font-size: 18px;
        color: $heading;
        padding: 27px 0 19px 15px;
        font-weight: 400;
        background-color: $btnText;
    }

    .account_container_inner {
        padding: 0 18px 35px 20px;
        border-bottom: 1px dashed $border;

        .profile_section {
            margin: 30px 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;

            .user_profile_img {
                position: relative;
                max-width: 76px;
                height: 76px;

                .camIcon {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }

            .user_details {
                margin-left: 20px;
                text-align: left;

                .user_name {
                    text-transform: capitalize;
                    font-size: 15px;
                    color: $heading;
                    margin-bottom: 6px;
                    font-weight: 500;

                }

                .user_email {
                    font-size: 14px;
                }
            }
        }

        .user_bio {
            overflow: hidden;
            font-size: 14px;
            color: $heading;
            text-align: left;
            height: 63px;
            line-height: 22px;
        }
    }

}